body {
	width: 600px;
	height: 800px;
}

nav {
	margin-bottom: 15px;
}

.loader > img {
    text-align: center;
    transform: translate(-50%, -50%);
    left:50%;
}

.about_info {
	font-size: 8pt;
	text-align: center;
	padding: 20px;
}

.hand {
	cursor: hand;
}

.gif {
	background-color: #eee;
	margin-bottom: 5px;
	position: relative;
}

.icon-image {
	width: 25px;
	height: 25px;
	margin: 3px;
}

.gif-actions {
	padding: 5px 5px 0px 5px !important;
	text-align: right;
}

.gif_btn {
	padding: 5px !important;
	width: 30px !important;
	height: 30px !important;
}

.gif_btn > img {
	width: 100%;
	height: 100%;
}

.gif_column_last {
	padding-right: 0px;
}

.gif_buttons {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.gif_buttons > img {
	width: 20px;
	height: 20px;
	margin-right: 5px;
	margin-bottom: 5px;
	cursor: hand;
	float: left;
}